body{
    background-color: rgba(204, 194, 181, 0.842);
    color:rgb(56, 11, 11);
    font-family:'Times New Roman', Times, serif
}

.container-nav{
    display: flex;
    padding: 10px;
    height: 50px;
    max-width: 800px;
    margin: auto;
    background-color: rgb(143, 116, 116);
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand{
    display: flex;
    align-items: center;
}

li>a{
    padding: 8px 24px;
}

li{
    list-style-type:none;
}

a{
    color: white;
    text-decoration: none;
}

.nav-links{
    display: flex;
    align-items: center;
}

.button-menu-toggle{
    display: none;
}

h1{
    padding: 40px 100px 40px 80px;
    color:rgba(248, 243, 245, 0.842);
    font-family: "Perpetua";
    font-size: 50px;
    text-align: center;
    text-shadow: 1px  0px 0px black,
                 0px  1px 0px black,
                 -1px  0px 0px black,
                 0px -1px 0px black;
    background-image: url("https://i.pinimg.com/originals/cb/03/3a/cb033a9043b4e57fb8fbcf3f692922f3.gif");
    background-size: 1500px 230px;
    margin: 30px 0px 0px 10px;
}

h2{
    padding: 10px;
    margin: 0px 100px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 5px;
}

section{
    display: flex;
    flex-wrap:wrap;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(70, 38, 75);
    border-radius: 10px;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

iframe{
    padding: 10px;
    margin: 5px;
}

.greeting{
    text-align: center;
}

@media (max-width: 600px) {
    .column {
      flex: 100%;
    }
}

@media(max-width: 768px){
    .column{
        flex: 100%
    }

    .nav-links{
        display: none;
    }

    .button-menu-toggle{
        display: block;
        background-color: rgb(114, 78, 78);
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family:'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive{
        position: absolute;
        display: flex;
        background-color:rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }

    .img-container{
        flex-direction: column;
    }
}

footer{
    background-color: rgb(167, 123, 123);
    height: 200px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 80px 0px 0px 0px;
}



